/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
/* Start Gloabal Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  /* any scroll in the web page its smooth */
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Medium Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Gloabal Rules */
